@import "tailwindcss";

@theme {
  --breakpoint-2xs: 22rem;
  --breakpoint-xs: 30rem;
  --breakpoint-tab: 62rem;
}

ul , li, a, p , div{
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Public Sans", serif;
}

h2 > div, h3 > div > a {
  font-family: "Public Sans", serif;
}

/* container */
.container {
  width: 100% !important;
}

@media (min-width: 576px) {
  .container, .container-sm {
      max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .container, .container-md {
      max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .container, .container-lg {
      max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .container, .container-xl {
      max-width: 1140px !important;
  }
}

@media (min-width: 1400px) {
  .container, .container-xl {
      max-width: 1200px !important;
  }
  .developmentProcess .container{
    max-width: 1350px !important;
  }
}

/* container-fluid */
@media (min-width: 1899px) {
  .container-fluid {
    padding: 0 280px;
  }
}

@media (min-width: 1600px ) {
  .container-fluid {
    padding: 0 150px;
  }
}

@media (min-width: 767px) {
  .container-fluid {
    padding: 0 70px;
  }
}

  .container-fluid {
    padding: 0 50px;
  }
